In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [3]:
data = pd.read_csv('Sales_add.csv')

In [5]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

# ● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [10]:
from scipy import stats

In [42]:
# H0 : Their is no increase in sales entering digital market
# H1 : Their is increase in sales after entering digital market

In [43]:
t_test,pval = stats.ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])
print(t_test,pval)

if(pval>0.05):
    print("we accept the null hypothesis that the Sales haven't changed after entering digital marketing")
else:
    print("we reject the null hypothesis ie, accept alternate hypothesis,that there is increase in sales after entering digital marketing")

-12.995084451110877 2.614368006904645e-16
we reject the null hypothesis ie, accept alternate hypothesis,that there is increase in sales after entering digital marketing

# ● The company needs to check whether there is any dependency between the features “Region” and “Manager

In [23]:
field1 = data['Region']
field2 = data['Manager']

In [40]:
# H0 : The feature 'Region' and 'Manager' are independent 
# H1 : The feature 'Region' and 'Manager' are dependent

In [44]:
# Creating crosstable

In [25]:
myCrosstable = pd.crosstab(field1,field2)
myCrosstable

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [27]:
from scipy.stats import chi2_contingency

In [38]:
chiVal, pVal, df,exp = chi2_contingency(myCrosstable)

In [39]:
chiVal,pVal, df,exp

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [41]:
# So theirfore we accept the nullhypothesis, ie  The feature 'Region' and 'Manager' are independent